body {
   margin: 0px;
   font-family: Arial;
   height: 100%
}

.nav-container {
   background-color: black;
   height: 88px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   position: relative;
}

.start-buttons {
  height: 100%;
  color: #ffff;
  margin-left: 105px;
  display: flex;
  align-items: center;
}

.logo-button {
   display: flex;
   height: 33px;
   width: 150px;
   align-items: center;
   justify-content: center;
   transition: opacity 0.15s;
}

.logo-button:hover {
cursor: pointer;
opacity: 0.8;
}

.end-buttons {
   margin-right: 120px;
}

.abstract-anchor {
   background-color: black;
   color: white;
   font-size: 25px;
   font-weight: 500;
   margin-right: 0px;
}

.help-button {
   background-color: black;
   color: white;
   font-size: 25px;
   font-weight: 500;
   border-left-width: 1px;
   border-left-color: white;
   border-style: solid;
   transition: text-decoration 1s;
   margin-left: 10px;
   padding-left: 10px;
}

.help-button:hover {
   text-decoration: underline;
   text-decoration-color: white;
   cursor: pointer;
}

.nav-img {
   filter: invert(100%) sepia(5%) saturate(0%) hue-rotate(4deg) brightness(104%) contrast(108%);
   height: 50px;
   width: 50px;
}

.submit-button {
   width: 232px;
   height: 50px;
   margin-right: 7px;
   border-radius: 8px;
   border-style: solid;
   border-color: #ffff;
   border-width: 1px;
   background-color: #191a1b;
   color: #ffff;
   font-size: 25px;
}

.submit-button:hover {
   cursor: pointer;
}

.sign-button {
   margin-left: 3px;
   width: 145px;
   height: 54px;
   border-radius: 10px;
   border-style: solid;
   background-color:#4C5FD5;
   color: white;
   font-size: 25px;
   transition: background-color 0.3s;
}

.sign-button:hover {
   cursor: pointer;
   background-color: white;
   color: black;
}

.toggle-button {
   position: absolute;
   top: 36px;
   right: 77px;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 23px;
   height: 15px;
}

.toggle-button .bar {
   height: 2px;
   width: 100%;
   background-color: white;
   border-radius: 10px;
}

.search-svg {
   filter: invert(100%) sepia(0%) saturate(7497%) hue-rotate(39deg) brightness(94%) contrast(92%);
   position: absolute;
   right: 110px;
   height: 30px;
   width: 30px;
   display: none;
   transition: height 0.3s;
   transition: width 0.3s;
}

.search-svg:hover {
  cursor: pointer;
  height: 35px;
  width: 35px;
}

@media (max-width: 1200px) {
   .toggle-button {
      display: flex;
   }
   
   .search-svg {
      display: flex;
   }

   .end-buttons {
      display: none;
   }

   
}